<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>repair form</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/bootbox/4.4.0/bootbox.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">物品维修申请</h3>
    </div>
    <div class="alert alert-danger collapse" id="validateAlert">
        <a class="close" onclick="$('.alert').hide()">×</a>
        <strong>请选择要分派的电工！</strong>
    </div>
    <div class="panel-body">
        <form role="form" id="repairForm" th:action="@{/complete/} + ${taskId}" method="post">
            <div th:utext="${renderedStartForm}" />
        </form>
        <div class="panel panel-default invisible" id="comments">
            <div class="panel-heading">审批流程</div>
            <table class="table table-large">

            </table>
        </div>
    </div>

</div>
</body>
<script th:inline="javascript">

    // $("#$('#passwordsNoMatchRegister').show();").fadeTo(2000, 500).slideUp(500, function(){
    //     $("#validate-alert").slideUp(500);
    // });

    function goBack() {
        window.location.href='/index?tab=todo';
    }

    $(function(){
        var comments = [[${comments}]];
        if (comments.length > 0) {
            $('#comments').insertBefore($('#commentGroup'));
            $('#comments').removeClass("invisible");
            for (i = 0; i < comments.length; i++) {
                //var time  = new Date(comments[i].time).toLocaleString('zh-Hans-CN');
                var time  = new Date(comments[i].time).toLocaleString();
                var comment = "<tr><td>" + comments[i].userId + ": " + comments[i].fullMessage
                    + "</td><td>" + time + "</td></tr>";
                $('#comments > table').append(comment);
            }
        }

        /*[# th:each="repairer : ${repairers}"]*/
            $("#transferId").append("<option value='" + [[${repairer.userId}]]
                + "'>" + [[${repairer.englishName}]] + "</option>");
        /*[/]*/

        //$("#transferId").empty();


    });

    $('#submitBtn').click(function() {
        if($('#repairForm')[0].reportValidity()) {
            bootbox.confirm("确认提交？", function(result){
                if(result) {
                    $('#repairForm').submit();
                }
            });
        }
    })

    $('#transfer').click(function(){

        if($('#repairForm')[0].reportValidity()) {

            if($("#transferId").val() == "") {
                $('#validateAlert').show();
                return;
            }

            var transferedName = $("#transferId option:selected").text();
            bootbox.confirm("确认分派给 " + transferedName + " 维修申请？", function(result){
                if(result) {
                    $.ajax({
                        type: "POST",
                        url: "/transfer/" + [[${taskId}]],
                        data: {
                            "repairer": $("#transferId").val(),
                            "comment": $('#comment').val()
                        },
                        //dataType: "json",
                        success: function(data){
                            window.location.href='/index?tab=todo';
                        }
                    });
                }
            });
        }
        //event.preventDefault();
        //return false;
        //$('#confirmModal').modal('show');

    });



    $('#finish').click(function () {

        if($('#repairForm')[0].reportValidity()) {
            bootbox.confirm("确认提交？", function(result){
                if(result) {
                    $.ajax({
                        type: "POST",
                        //async: false,
                        url: "/finish/" + $('#taskId').val(),
                        data: {
                            "id": $('#id').val(),
                            "score": $('#score').val(),
                            "comment": $('#comment').val()
                        },
                        //dataType: "json",
                        success: function(data){
                            window.location.href='/index?tab=todo';
                        }
                    });
                }
            });
        }

    });

</script>
</html>