<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>repair form</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
<div th:utext="${renderedStartForm}" />
<div class="form-group" th:each="comment : ${comments}">
    <span th:text="${comment.time}"></span>
    <span th:text="${comment.fullMessage}"></span>
</div>
</body>
<script th:inline="javascript">
    $('#submit').click(function () {

        $.ajax({
            type: "POST",
            //async:false,
            url: "/complete/" + $('#taskId').val(),
            data: {

                "comment": $('#comment').val()
            },
            dataType: "json",
            success: function(data){
                document.location.href='/index';
            }
        });
    });

    $('#finish').click(function () {

        $.ajax({
            type: "POST",
            //async:false,
            url: "/finish/" + $('#taskId').val(),
            data: {
                "id": $('#id').val(),
                "score": $('#score').val(),
                "comment": $('#comment').val()
            },
            dataType: "json",
            success: function(data){
                document.location.href='/index';
            }
        });
    });
</script>
</html>