<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<div id="app">
<template>
    <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="发起申请" name="first">
            <a th:href="@{/toApply/testRepair:2:5006/} + ${applicantId}">发起物品维修申请</a>
        </el-tab-pane>
        <el-tab-pane label="我的申请" name="second">

        </el-tab-pane>
        <el-tab-pane label="待我审批" name="third">角色管理</el-tab-pane>
    </el-tabs>
</template>
</div>

</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var Main = {
        data() {
            return {
                activeName: 'first'
            };
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            }
        }
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')

</script>
</html>