<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
<div class="container">
    <div class="row">
<ul id="myTab" class="nav nav-pills">
    <li class="active">
        <a href="#home" data-toggle="tab">
            发起申请
        </a>
    </li>
    <li>
        <a href="#mine" data-toggle="tab" id="myApplications">我的申请</a>
    </li>
    <li>
        <a href="#todo" data-toggle="tab" id="todoList">待我审批</a>
    </li>

</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <ul class="list-group">
            <li class="list-group-item"><a th:href="@{/toApply}">发起物品维修申请</a></li>

        </ul>

    </div>
    <div class="tab-pane fade" id="mine">
        <div class="table-responsive">
            <table class="table" id="applyTable">

                <thead>
                <tr>
                    <th>提交时间</th>
                    <th>故障设备名称</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="todo">
     <div class="table-responsive">
         <table class="table" id="todoTable">

             <thead>
             <tr>
                 <th>提交时间</th>
                 <th>申请人</th>
                 <th>故障设备名称</th>
             </tr>
             </thead>
             <tbody>

             </tbody>
         </table>
     </div>
    </div>
</div>
</div>
</div>
</body>

<script th:inline="javascript">
    $(function(){

        //var tab = [[${tab}]];
        switch ([[${tab}]]) {
            case "mine":
                $('#myTab a[href="#mine"]').tab('show');
                break;
            case "todo":
                $('#myTab a[href="#todo"]').tab('show');
                break;
            default:
        }

        $('a[href="#mine"]').on('shown.bs.tab', function (e) {
            $("#applyTable tbody").empty();
            $.ajax({
                type: "GET",
                url: "/datas/myApplications/518974",
                //data: "name=garfield&age=18",
                dataType: "json",
                success: function(data){
                    var content = data.content;
                    for(var i = 0; i < content.length; i++){
                        var rowTem = '<tr>'
                            + '<td>' + content[i].createdTime + '</td>'
                            + '<td><a href="/toView/' + content[i].id + '">' + content[i].deviceName + '</a></td>'
                            + '<td>' + content[i].status + '</td>'
                            + '</tr>';
                        $("#applyTable tbody:last").append(rowTem);
                    }
                }
            });
        });

        $('a[href="#todo"]').on('shown.bs.tab', function (e) {
            $("#todoTable tbody").empty();
            $.ajax({
                type: "GET",
                url: "/datas/todoList/518974",
                dataType: "json",
                success: function(data){
                    var content = data.content;
                    for(var i = 0; i < content.length; i++){
                        var rowTem = '<tr>'
                            + '<td>' + content[i].createdTime + '</td>'
                            + '<td>' + content[i].applicant + '</td>'
                            + '<td><a href="/toAudit/' + content[i].id +'/' + content[i].taskId + '">' + content[i].deviceName + '</a></td>'
                            + '</tr>';
                        $("#todoTable tbody:last").append(rowTem);
                    }
                }
            });
        });

        /*$("#myApplications").click(function () {
            $("#applyTable tbody").empty();
            $.ajax({
                type: "GET",
                url: "/datas/myApplications/518974",
                //data: "name=garfield&age=18",
                dataType: "json",
                success: function(data){
                    var content = data.content;
                    for(var i = 0; i < content.length; i++){
                        var rowTem = '<tr>'
                            + '<td>' + content[i].createdTime + '</td>'
                            + '<td><a href="/toView/' + content[i].id + '">' + content[i].deviceName + '</a></td>'
                            + '<td>' + content[i].status + '</td>'
                            + '</tr>';
                        $("#applyTable tbody:last").append(rowTem);
                    }
                }
            });
        });*/

        /*$("#todoList").click(function () {
            window.location.href='/index?tab=todo';
        });*/
    })
</script>
<style type="text/css">

</style>
</html>