<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>todo list</title>
</head>
<body>
<h1>待办列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>申请人</th>
            <th>提交时间</th>
            <th>故障设备名称</th>

            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="repair : ${repairs}">
            <!--<th scope="row" th:text="${task.id}">1</th>-->
            <td th:text="${repair.applicant}" ></td>
            <td th:text="${repair.createdTime}" ></td>
            <td th:text="${repair.deviceName}" ></td>

            <!--<td><a th:href="@{/toView/} + ${repair.id} + '/' + ${repair.task.id}">办理</a></td>-->
            <td><a th:href="@{/toAudit/} + ${repair.id}">办理</a></td>


        </tr>
        </tbody>
    </table>
</div>
</body>
</html>