<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/viewerjs/dist/viewer.min.js"></script>
    <link rel="stylesheet" href="/webjars/viewerjs/dist/viewer.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>repair form</title>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">物品维修申请</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">申请时间</label>
            <span th:text="${repair.createdTime}"></span>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">故障设备名称</label>
            <span th:text="${repair.deviceName}"></span>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">故障描述</label>
            <textarea class="form-control" readonly name="description" id="description" rows="3" th:text="${repair.description}"></textarea>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">附件</label>
            <a href="#" th:each="attachment,iter : ${attachments}" th:data-id="${attachment.id}"
               class="imageLink" th:text="图片 + ${iter.index + 1}"></a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">审批流程</div>
            <table class="table table-large">

                <tr th:each="comment : ${comments}" th:object="${comment}"
                    th:if="${comment.fullMessage} != null">
                    <td th:text="*{userId} + ':' + *{fullMessage}"></td>
                    <td th:text="${#dates.format(comment.time,'yyyy-MM-dd HH:mm')}"></td>
                </tr>

            </table>
        </div>
        <button type="button" onclick="goBack()" class="btn btn-info btn-block">返回</button>
    </div>
</div>

</body>
<script>
    function goBack() {
        window.location.href='/index?tab=mine';
    }

    $('.imageLink').click(function () {
        var image = new Image();
        image.src = '/datas/attachment/'+ this.getAttribute('data-id');
        var viewer = new Viewer(image, {
            toolbar: false,
            navbar: false,
            hidden: function () {
                viewer.destroy();
            },
        });
        // image.click();
        viewer.show();
    });

</script>
<style type="text/css">

</style>
</html>