<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>repair form</title>
</head>
<body>

<div class="form-group">
    <label for="createdTime" class="col-sm-2 control-label">申请时间</label>
    <input type="text" class="form-control" readonly name="createdTime" id="createdTime" th:value="${repair.createdTime}" />
</div>

<div class="form-group">
    <label for="deviceName" class="col-sm-2 control-label">故障设备名称</label>
    <input type="text" class="form-control" readonly name="deviceName" id="deviceName" th:value="${repair.deviceName}" />
</div>

<div class="form-group">
    <label for="description" class="col-sm-2 control-label">故障描述</label>
    <textarea class="form-control" readonly name="description" id="description" rows="3" th:text="${repair.description}"></textarea>
</div>

<div class="form-group" th:each="comment : ${comments}">
    <span th:text="${#dates.format(comment.time,'yyyy-MM-dd HH:mm')}"></span>
    <span th:text="${comment.userId}"></span>
    <span th:text="${comment.fullMessage}"></span>
</div>
</body>
</html>